@{
    ViewData["Title"] = "Chatbot";
}
@model SF_DSS.Models.ChatbotModel

<div class="chatbot-body">
    <div class="chatbot-history">
        <div class="history-header">
            <h3>History</h3>
            <button class="new-chat" id="new-chat"><i class="fa-solid fa-plus"></i></button>
         </div>
        <div class="history-blocks overflow-auto">
            @if (Model.Conversations != null && Model.Conversations.Any())
            {
                @for (int i = Model.Conversations.Count - 1; i >= 0; i--)
                {
                    var conversation = Model.Conversations[i];
                    <div class="block" data-value="@conversation.ID">
                        <div class="vl"></div>
                        <div class="block-info">
                            <label class="title">@conversation.Title</label>
                            <label class="last-edited">@conversation.LastModified</label>
                        </div>
                    </div>
                }
            }
        </div>
        <div>
            <img class="w-100 h-100" src="~/imgs/Blob.png"/>
        </div>
    </div>
    <div class="chatbot-container">
        <div class="chatbot">
        <h3>Chat</h3>
            <div class="chat overflow-auto" @(Model.Conversation != null ? $"data-value={Model.Conversation.ID}" : "") id="chatArea">
                <ul id="messagesList">
                    @if (Model.Conversation != null && Model.Conversation.Messages != null)
                    {
                        @foreach (var message in Model.Conversation.Messages.Skip(2))
                        {
                            if (message.Role == "user")
                            {
                                <li class="user-message">
                                    You: @Html.Raw(message.Content.Replace("\n", "<br/>"))
                                </li>
                            }
                            else
                            {
                                <li class="bot-message">
                                    Chatbot: @Html.Raw(message.Content.Replace("""\n""", "<br/>"))
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <footer class="chatbot-footer mb-4">
                <input class="input-message" id="messageInput" type="text" placeholder="Your Message" />
                <button id="sendButton" class="send-button"><b>Send</b></button>
            </footer>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}

    <style>

        .new-chat {
            background-color: lightgreen;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            margin: 15px;
            border: none;
        }
        .history-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .title {
            color: black;
            font-size: 30px;
        }

        .last-edited {
            color: #5F5F5F;
            font-size: 16px;
        }

        .block-info {
            margin-left: 20px;
            display:flex;
            flex-direction: column;
        }

        .vl {
            border-left: 6px solid #63D471;
            height: 70px;
            border-radius: 30px;
        }
        .block {
            border: 1px solid lightgrey;
            padding: 5px 50px;
            display: flex;
            flex-direction: row;
            height: 200px;
            align-items: center;
            max-height: 200px;
            overflow-y: auto;
        }
        h3 {
            color: #63A46C;
            padding: 20px;
            top: 0;
        }

        .chatbot-history {
            max-width: 25%;
            max-height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .chatbot-body {
            display: flex;
            flex-direction: row;
            border-top: 3px solid gray;
            min-height: 90vh;
        }

    .send-button {
        cursor: pointer;
        border: 0;
        color: white;
        padding: 10px 30px;
        background-color: var(--color-lightgreen-100);
        height: 40px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        align-items: center;
        box-sizing: border-box;
        z-index: 2;
        margin: 0 20px;
        width: 130px;
    }

        .send-button:hover {
            background-color: #59ab47;
        }

        .send-button:disabled {
            background-color: lightgray;
            cursor: not-allowed;
        }

    .chatbot-footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .input-message {
        width: 750px;
        border-radius: 12px;
        border: 2px solid #CAC4D0;
        color: black;
        padding-left: 40px;
        height: 40px;
    }

        .input-message::placeholder {
            color: #CAC4D0;
            opacity: 1;
        }

    .chatbot-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-left: 3px solid gray;
        height: 90vh;
    }

    .chatbot {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .chat {
        flex: 1;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    #messagesList {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        #messagesList li {
            font-size: 20px;
            margin-bottom: 10px;
            display: flex;
        }

            #messagesList li.user-message {
                background-color: #8DDD79;
                color: white;
                border-radius: 30px;
                padding: 15px;
                margin-left: auto;
                max-width: 40%;
                width: auto;
                word-wrap: break-word;
                text-align: right;
                align-self: flex-end;
            }

            #messagesList li.bot-message {
                background-color: white;
                color: black;
                border-radius: 30px;
                padding: 15px;
                max-width: 70%;
                width: auto;
                justify-content: flex-start;
                border: 2px solid #EBEDDF;
            }

    .typing-indicator {
        font-style: italic;
        color: gray;
    }

    .loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
</style>

<script>
    $(document).ready(function () {
        $(".block").click(function () {
            var id = $(this).data("value");
            window.location.href = "/Home/Chatbot/" + id;
        });
    });
</script>